.vc-menu
	input.menu-input(id=id, type="checkbox", name="menu-collapsed")
	.menu-switch
		label.fa.rise(for=id, class=glyph_collapsed)
		label.fa.fall(for=id class=glyph_expanded)
	.menu-content
		h2 #{title}
		ul
